body {
    width: 800px;
    margin: 30px auto;
}

.alert {
    color: red;
    font-weight: bold;
}
.alert_OK {
    color: green;
    font-weight: bold;
}

.listagem {
    
}
.listagem table {
    border: 1px solid black;
    width: 100%;
}
.listagem table th {
    text-align: left;
    border: 1px solid black;
}
.listagem table td {
    border: 1px solid black;
    
}