body {
    background-color: rgb(173, 211, 225);
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

.Form{
    height: 100%;
    width: 100%;
    position:fixed;
}

.Form input,.Form label,.Form select{
    position:absolute;
    color: black;
    border: none;
    font-size: 18px;
}


.input{
    width: 150px;
}
.name{
    top: 15%;
    left: 30%;
}

.Genero{
    top: 20%;
    left: 30%;
}



.ano{
    top: 31%;
    left: 30%; 
}

.disciplinas{
    top: 36%;
    left: 30%;
}

.disciplinas div{
    position: fixed;
}
.disciplinas div div{
    text-align: left;
    position: relative;
    width: 220px;
    margin: 0;
}

.Col2{
    left: 45%;
}
.Col3{
    left: 60%;
}


.foto{
    top: 51%;
    left: 30%;
}

.foto input{
    font-size: 17px;
}

.submit{
    top: 60%;
}





