body {
    background-color: rgb(173, 211, 225);
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    align-items: center;
    
}

.Form{
    text-align: center;
    margin: 0 2%;
    width: 50%;
    background-color:antiquewhite;
    border: 2px black solid;
}

.Form input,.Form label,.Form select{
    color: black;
    border: none;
    font-size: 18px;
}

.Form img {
    width: 50%;
}
.disciplinas div{
    text-align: center;
}

.input{
    width: 90%;
    max-width: 210px;
}


.ano select{
    width: 40px;
}

.foto input{
    width: 150px;
}

.caixa{
    width: 70%;
}







